.container {
  margin-top: 100px;
  padding: 0 40px;
}

.mat-display-1 {
  padding-top: 20px;
  font-size: 38px !important;
  color: white;
  font-weight: 200;
  font-family: Roboto,'Helvetica Neue',sans-serif;
  line-height: inherit;
}

.mat-progress-bar-primary.mat-progress-bar-fill.mat-progress-bar-element::after {
  background-color: #5e5e61;
}

.mat-progress-bar-buffer.mat-progress-bar-element {
  background-color: #e2e2e2 !important;
}

md-button-toggle-group.mat-button-toggle-group {
  box-shadow: none;
}

md-button-toggle {
  background-color: rgba(255, 255, 255, 0.5);
}

md-button-toggle.mat-button-toggle-checked {
  background-color: rgba(254, 254, 255, 0.85);
}

.mat-button-toggle-label-content {
  color: #565656;
}

.mat-button-toggle-label-content .mat-button-toggle-checked {
  color: #565656;
}

.mat-focused .mat-input-placeholder {
  color: #565656 !important;
}

button {
  width: 100%;
  vertical-align: middle;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  color: white;
  font-size: 20px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.33);
  box-shadow: none;
  font-family: Roboto,'Helvetica Neue',sans-serif;
  font-weight: 200;
}

.toolbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

.key {
  display: inline-block;
  color: #383838;
  font-weight: 100
}

.value {
  float: right;
}

.bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 40px;
  padding-right: 40px;
}

.bottom a {
  position: absolute;
  bottom: 85px;
}
