<div class="container">

  <div id="screen1" *ngIf="screen === 1" style="height: 100%">
    <img src="../../assets/loan-lend.png" width="100px" height="100px" style="padding: 10px;">
    <br />
    <h1 class="mat-display-1">I want to...</h1>

    <button md-raised-button (click)="screen = 2">
      Lend
    </button>
    <button md-raised-button>Borrow</button>
  </div>

  <div id="screen2" *ngIf="screen === 2" style="height: 100%">
    <img src="../../assets/loan-to.png" width="100px" height="100px" style="padding: 10px; margin-left: -22px;">
    <br />
    <h1 class="mat-display-1">Who to?</h1>

    <md-input-container>
      <input mdInput placeholder="Full name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Account number">
    </md-input-container>

    <div class="bottom">
      <a style="color: white" (click)="screen = 1">
        Back
      </a>
      <button md-raised-button (click)="screen = 3">
        Next
      </button>
    </div>
  </div>


  <div id="screen3" *ngIf="screen === 3" style="height: 100%">
    <img src="../../assets/loan-amount2.png" width="100px" height="100px" style="padding: 10px; margin-left: -20px;">
    <br />
    <h1 class="mat-display-1">How much do you want to lend?</h1>
    <md-input-container>
      <span style="color: #383838" mdPrefix>$&nbsp;</span>
      <input mdInput placeholder="Amount">
    </md-input-container>

    <div>
      <md-select placeholder="From account number">
        <md-option *ngFor="let account of accounts" [value]="account">
          {{ account.accountNumber }} - ${{ account.balance }}
        </md-option>
      </md-select>
    </div>


    <div class="bottom">
    <a style="color: white" (click)="screen = 2">
      Back
    </a>
    <button md-raised-button (click)="screen = 4">
      Next
    </button></div>
  </div>


  <div id="screen4" *ngIf="screen === 4" style="height: 100%">
    <h1 class="mat-display-1">
      <img src="../../assets/loan-interest-rate2.png" width="75px" height="75px" style="margin-bottom: 20px;">
      <br />
      What's the interest rate?
    </h1>

    <form class="example-form">

      <md-input-container style="width:100%">
        <input type="tel" mdInput placeholder="Rate">
        <span style="color: #383838" mdSuffix>% per annum</span>
      </md-input-container>

    </form>

    <div class="bottom">
    <a style="color: white" (click)="screen = 3">
      Back
    </a>
    <button md-raised-button (click)="screen = 5">
      Next
    </button></div>
  </div>

  <div id="screen5" *ngIf="screen === 5" style="height: 100%">
    <img src="../../assets/loan-repayment2.png" width="100px" height="100px" style="padding: 10px;">
    <br />
    <h1 class="mat-display-1">
      What will the regular repayments be?
    </h1>

    <form class="example-form">

      <md-input-container style="width: 170px;">
        <span mdPrefix>$&nbsp;</span>
        <input mdInput placeholder="Amount">
      </md-input-container>

      <md-select placeholder="Frequency" [(ngModel)]="selectedValue" name="frequency">
        <md-option *ngFor="let frequency of frequencies" [value]="frequency.value">
          {{frequency.viewValue}}
        </md-option>
      </md-select>

    </form>

    <div class="bottom">
    <a style="color: white" (click)="screen = 4">
      Back
    </a>
    <button md-raised-button (click)="screen = 6">
      Next
    </button></div>
  </div>

  <div id="screen6" *ngIf="screen === 6" style="height: 100%">
    <img src="../../assets/loan-late2.png" width="100px" height="100px" style="padding: 10px;">
    <br />
    <h1 class="mat-display-1">
      Is there a late payment fee?
    </h1>

    <form class="example-form">

      <md-button-toggle-group #group="mdButtonToggleGroup" style="margin-bottom: 30px; margin-top: 10px;">
        <md-button-toggle value="Yes" checked="true">
          Yes
        </md-button-toggle>
        <md-button-toggle value="No">
          No
        </md-button-toggle>
      </md-button-toggle-group>

      <md-input-container *ngIf="group.value === 'Yes'" style="float: right; width: 160px;">
        <span mdPrefix>$&nbsp;</span>
        <input mdInput placeholder="Fee amount">
      </md-input-container>
    </form>

    <div class="bottom">
    <a style="color: white" (click)="screen = 5">
      Back
    </a>
    <button md-raised-button (click)="screen = 7">
      Next
    </button></div>
  </div>

  <div id="screen7" *ngIf="screen === 7" style="height: 100%">
    <img src="../../assets/loan-tcs2.png" width="100px" height="100px" style="padding: 10px; margin-left: -20px;">
    <br />
    <h1 class="mat-display-1">
      Almost there.
    </h1>

    <h3 class="md-subheading-2" style="color: white;">
      Take a look at the T&amp;Cs...
    </h3>

    <md-card style="margin-bottom: 20px; background-color: rgba(255, 255, 255, 0.85); box-shadow: none;">
      <span style="display: inline-block; color: #383838;">Bank of Mum and Dad<br/>
        Terms and Conditions</span>
      <md-icon style="float: right; color: #383838;">launch</md-icon>
    </md-card>

    <div class="bottom">
    <a style="color: white" (click)="screen = 6">
      Back
    </a>
    <button md-raised-button (click)="screen = 8">
      I Agree
    </button></div>
  </div>


  <div id="screen8" *ngIf="screen === 8" style="height: 100%">
    <h1 class="mat-display-1" style="padding-top: 80px">
      Review
    </h1>

    <md-card style="margin-bottom: 20px; background-color: rgba(255, 255, 255, 0.85); box-shadow: none;">
      <span class="key">I want to <b>lend</b>...</span>
      <br/>
      <br/>
      <span class="key">To</span>
      <span class="value"><b>Sky Smith</b></span>
      <br/>
      <span class="key">Account number</span>
      <span class="value">
<!--         <div *ngIf="selectedAccount"> -->
          <b>{{selectedAccount.accountNumber}}</b>
        <!-- </div> -->
      </span>

      <br/>
      <span class="key">Amount</span>
      <span class="value"><b>$1000</b></span>
      <br/>
      <span class="key">Interest rate</span>
      <span class="value"><b>2% p.a.</b></span>
      <br/>
      <span class="key">Repayments</span>
      <span class="value"><b>$100 weekly</b></span>
      <br/>
      <span class="key">Late payment fee</span>
      <span class="value"><b>$10</b></span>
    </md-card>

    <div class="bottom">
    <a style="color: white" (click)="screen = 7">
      Back
    </a>
    <button md-raised-button [routerLink]="['/loan-details']">
      Submit
    </button></div>

  </div>


  <!--<md-toolbar class="toolbar-bottom">-->
    <!--<md-progress-bar-->
      <!--class="example-margin"-->
      <!--[color]="'primary'"-->
      <!--[mode]="'determinate'"-->
      <!--[value]="value"-->
      <!--[bufferValue]="bufferValue">-->
    <!--</md-progress-bar>-->
  <!--</md-toolbar>-->
</div>


