<style>
  .container {
    padding: 40px;
    margin-top: 50px;

  }

  .mat-display-1 {
    color: white;
    font-weight: 200;
  }

  .key {
    display: inline-block;
    color: #383838;
    font-weight: 100
  }

  .value {
    float: right;
  }
</style>


<div class="container">

  <div class="offer-details" *ngIf="screen === 1" style="height: 100%">
    <h1 class="mat-display-1">
      Your loan offer
    </h1>

    <md-card style="margin-bottom: 20px; background-color: rgba(255, 255, 255, 0.85); box-shadow: none;">
      <span class="key"><b>You have been offered a loan</b></span>
      <br/>

      <h2>$3000</h2>

      <span class="key">From</span>
      <span class="value"><b>Collin Smith</b></span>

      <br/>
      <span class="key">Interest rate</span>
      <span class="value"><b>2.5% p.a.</b></span>
      <br/>
      <span class="key">Repayments</span>
      <span class="value"><b>$100 weekly</b></span>
      <br/>
      <span class="key">Late payment fee</span>
      <span class="value"><b>$10</b></span>
      <br/>
      <span class="key">To your account</span>
      <span class="value">814282 - <b>50005350</b></span>
    </md-card>

    <button md-raised-button (click)="screen = 2">
      Accept offer
    </button>
  </div>


  <div id="offer-accepted" *ngIf="screen === 2" style="height: 100%">
    <img src="/assets/tick.png" width="100px" height="100px">
    <h1 class="mat-display-1" style="margin-top: 20px;">
      Congratulations!
    </h1>

    <h2 style="color: white; font-weight: 200;">You've accepted the loan terms. You'll receive the funds into your account shortly.</h2>

    <h2 style="color: white; font-weight: 200;">Your first repayment will be for <b>$10</b> on the 31st of August 2017.</h2>

    <button md-raised-button [routerLink]="['/loan-details']">
      Manage loan
    </button>
  </div>

</div>
