<div class="container">

  <div id="screen1" style="height: 100%">
    <h1 class="mat-display-1">I want to...</h1>

    <button md-raised-button [routerLink]="['./']" fragment="screen2">
      Lend
    </button>
    <button md-raised-button>Borrow</button>
  </div>

  <div id="screen2" style="height: 100%">
    <h1 class="mat-display-1">Who to?</h1>

    <md-input-container>
      <input mdInput placeholder="Full name">
    </md-input-container>
    <md-input-container>
      <input mdInput placeholder="Account number">
    </md-input-container>

    <button md-raised-button [routerLink]="['./']" fragment="screen3">
      Next
    </button>
  </div>


  <div id="screen3" style="height: 100%">
    <h1 class="mat-display-1">How much do you want to lend?</h1>
        <md-input-container>
        <span mdPrefix>$&nbsp;</span>
      <input mdInput placeholder="Amount">
    </md-input-container>
    <br/>
    <md-input-container>
      <input mdInput placeholder="From account number">
    </md-input-container>
  </div>

  <md-toolbar class="toolbar-bottom">
    <md-progress-bar
      class="example-margin"
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="value"
      [bufferValue]="bufferValue">
    </md-progress-bar>
  </md-toolbar>

</div>


