<md-sidenav-container class="example-container">
  <md-sidenav #sidenav class="example-sidenav" mode="push">
    <md-list>
      <md-list-item [routerLink]="['./create-loan']" (click)="sidenav.close()">Create loan</md-list-item>
      <md-list-item [routerLink]="['./loan-offer']" (click)="sidenav.close()">Loan offer</md-list-item>
      <md-list-item [routerLink]="['./loan-details']" (click)="sidenav.close()">Loan details</md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar class="header">
    <md-icon (click)="sidenav.open()">
      menu
    </md-icon>
    <div class="logo">
      <img src="assets/logo.png">
    </div>
  </md-toolbar>

  <div class="example-sidenav-content">
    <div class="example-scrolling-content">
      <router-outlet></router-outlet>
    </div>
  </div>

</md-sidenav-container>


