<h1 md-dialog-title>
  Notifications
  <md-icon style="float: right; font-size: 30px; padding-top: 7px;">notifications_none</md-icon>
</h1>
<div md-dialog-content>

  <md-card>
    <div>
      <b>Nice work!</b>
      <md-icon style="float: right; color: royalblue;">grade</md-icon>
    </div>

    <div>
      <br/>You saved $22.65 in interest by making extra payments!
    </div>

  </md-card>

  <md-card>
    <div>
      <b>Payment due soon!</b>
      <md-icon style="float: right; color: orangered;">access_alarm</md-icon>
    </div>

    <div>
      <br/>Don't forget to repay by 18th August to avoid extra fees.
    </div>

  </md-card>

</div>
